.pill {
    line-height: 1.5em;
    border: solid 1px $darkest-color;
    border-radius: 0.4em;
    background-color: $darkest-color;
    color: $light-color;
    padding: 0.25em;
    margin: 0.2em;
}